html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 10%);
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

.app {
  min-height: 100vh;
}

.max-width-container {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}


.atp {
  background-image: url(../src/assets/loneball5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}